<div class="initiativehelper-content">
    <div id="initiativehelper-btn-override-group" class="initiativehelper-btn override-init" title="{{localize 'INITIATIVEHELPER.override-for-group'}}">
        <i class="fas fa-solid fa-user-plus"></i>
    </div>
    <div id="initiativehelper-btn-set-group" class="initiativehelper-btn unset-init-only" title="{{localize 'INITIATIVEHELPER.set-for-group'}}">
        <i class="fas fa-solid fa-user-plus"></i>
    </div>
    <div id="initiativehelper-btn-additional-init" class="initiativehelper-btn init-normal" title="{{localize 'INITIATIVEHELPER.additional-init'}}">
        <i class="fas fa-plus"></i>
    </div>
    <input id="initiativehelper-init" type="text" />
    <div id="initiativehelper-btn-short-delay" class="initiativehelper-btn init-normal" title="{{localize 'INITIATIVEHELPER.short-delay'}}">
        <i class="fas fa-angle-down"></i>
    </div>
    <div id="initiativehelper-btn-long-delay" class="initiativehelper-btn init-normal" title="{{localize 'INITIATIVEHELPER.long-delay'}}">
        <i class="fas fa-angle-double-down"></i>
    </div>
</div>